---
import MainLayout from "../../layouts/MainLayout.astro";
const cookies = Astro.request.headers.get("cookie");
let token = null;
let data = null;
let recipes = null;

if (cookies) {
    token = cookies.split(";").reduce((acc, cookie) => {
        const [key, value] = cookie.trim().split("=");
        if (key === "token") acc = value;
        return acc;
    }, "");
}

if (token !== null) {
    const response = await fetch(
        `https://app.recetly.net/api/v1/auth/get/${token}`,
        { method: "GET" },
    );
    data = await response.json();

    console.log(data);
}
---

<MainLayout title={data.user.userNickname}>
    <section
        class="profile-picture"
        style={`background-color: ${data.user.userColor};`}
    >
        <img src={data.user.userImg} />
    </section>

    <section class="personal-info">
        <h1>{data.user.userNickname}</h1>
        <p>{`${data.user.userName} ${data.user.userLastName}`}</p>
    </section>

    <h2 class="subtitle">Sobre mí</h2>
    <section class="about-me">
        <p>{data.user.userDescription}</p>
    </section>
    <h2 class="subtitle">Mis recetas</h2>
    <section class="recipes">
        {
            recipes === null && (
                <p class="placeholder">
                    {data.user.userNickname} no tiene recetas publicadas.
                </p>
            )
        }
    </section>
</MainLayout>

<style>
    section.profile-picture {
        height: 16rem;
        margin-bottom: 0.5rem;
        position: relative;

        & img {
            width: 150px;
            aspect-ratio: 1;
            position: absolute;
            right: 2rem;
            bottom: -5.5rem;
            border-radius: 50%;
        }
    }
    p {
        font-size: 2rem;
    }
    p.placeholder {
        color: #a1a1a1
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.125rem;
        margin: 1.5rem 0 0.5rem 0;
    }
    section {
        padding: 1.5rem;
        border: 2px solid #e9e9e9;
        border-radius: 1rem;
    }
</style>
